Active Projects/Rug/How to weave venetian carpet.mp4
Completed Projects/Image Duplication Protection and face detection/example images 1/
Completed Projects/Image Duplication Protection and face detection/example images 2/
Completed Projects/Image Duplication Protection and face detection/example images 3/
Completed Projects/Image Duplication Protection and face detection/example images 4/
Active Projects/Image Duplication Protection and face detection/errors.txt
Active Projects/Crypto AI/Compiled NEAT/C#/SaveData/networkDump1.json
Active Projects/Crypto AI/Compiled NEAT/C#/SaveData/networkDump0.json
Paused Projects/Rug/How to weave venetian carpet.mp4
Active Projects/~$Work Z-tray Readout.xlsx
