Completed Projects/Image Duplication Protection and face detection/example images 1/
Completed Projects/Image Duplication Protection and face detection/example images 2/
Completed Projects/Image Duplication Protection and face detection/example images 3/
Completed Projects/Image Duplication Protection and face detection/example images 4/
Completed Projects/Heart Simulations Main/Library/
Active Projects/Image Duplication Protection and face detection/errors.txt
Active Projects/Crypto AI/Compiled NEAT/C#/SaveData/networkDump1.json
Active Projects/Crypto AI/Compiled NEAT/C#/SaveData/networkDump0.json
Paused Projects/Rug/How to weave venetian carpet.mp4
Active Projects/Rug/How to weave venetian carpet.mp4
Active Projects/~$Work Z-tray Readout.xlsx
Completed Projects/Heart Simulations/Library/
Completed Projects/Circuit Editor/Library/
Completed Projects/Circuit Editor/Logs/
Completed Projects/Circuit Editor/Packages/
Completed Projects/Circuit Editor/ProjectSettings/
Active Projects/Twiggy Forrest Project/RPi/~$RPi hat.pptx
Active Projects/Hearts/_mark_1_outer_shell_attached.photon
*.pwmo
Active Projects/Hearts/mark_1_outer_shell_attached.pwmo
/Active Projects/G2S_Arduino_Slave/__pycache__
/Active Projects/G2S_Arduino_Slave/.theia
